* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  background: #141628;
  /* color: #f84f79; */
  color: #ffffff;
  /* background:; */
}
/* code to add a margin when you're scrolling*/
[id] {
  scroll-margin-top: 12vh;
}
@media screen and (max-width: 750px){
  [id] {
    scroll-margin-top: 0vh;
  } 
}